@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dogica";
  src: url("./fonts/dogica.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dogicabold";
  src: url("./fonts/dogicabold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dogicapixel";
  src: url("./fonts/dogicapixel.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dogicapixelbold";
  src: url("./fonts/dogicapixelbold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
